<md-sidenav-container>
  <md-sidenav align="end" mode="side" #sidenav>
    <md-tab-group>
      <md-tab label="Details" dynamicHeight="true">

          <p>ID: {{currentIssue.id}}</p>
          <p>Titulo: {{currentIssue.title}}</p>
          <p>Descripcion: <span [innerHTML]="currentIssue.body"></span></p>

          <button md-raised-button (click)="sidenav.close()" color="primary">cerrar</button>

      </md-tab>

    </md-tab-group>
  </md-sidenav>
  <md-card>

    <form #f="ngForm" >
      <md-input-container>
        <input type="url" mdInput placeholder="URL proyecto GIT" [(ngModel)]="url" [value]="url" name="url" #urlField="ngModel" required pattern="https?://.+">
      </md-input-container>
      <div class="md-warn warn md-hue-3" color="warn" *ngIf="!urlField.valid && urlField.touched ">
        El campo debe tener un valor
      </div>
      <button md-raised-button  color="warn" type="submit" [disabled]="!f.valid" (click)="getProject()">BUSCAR</button>
    </form>


  </md-card>

  <md-grid-list cols="1" rowHeight="70px">
    Total : {{total}}
    <md-grid-tile *ngFor="let issue of issues">
      <md-grid-tile-footer>
        <h3 md-line>{{issue.title}}</h3>
        <button md-icon-button (click)="showIssue(issue)">
          <md-icon>info</md-icon>
        </button>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
  <md-card >
    <md-card-content>
          <div class="container">
              <div><button md-raised-button  color="primary" [disabled]="currentPage == 1"   (click)="previous()">Anterior</button></div>
              <div><button md-raised-button  color="primary" [disabled]="currentPage >= totalPage || totalPage == 1"  (click)="next()">Seguinte</button></div>
          </div>
    </md-card-content>
  </md-card>
</md-sidenav-container>
