<div>
  <md-toolbar color="primary">
    <span>
      <md-icon class="icon-20">error</md-icon>
      Issue GIT - IRONTEC
    </span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="openDialog()">Ayuda</button>
  </md-menu>
  <app-list-issues></app-list-issues>
</div>
