/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

md-toolbar-row {
  justify-content: space-between;
}

p {
  margin: 16px;
}
.mat-input-container,
[md-raised-button] {
  width: 100%;
}

md-grid-list {
  max-width: 1403px;
  margin: 16px;
}

md-sidenav-layout {
  height: 100vh;
}

md-sidenav {
  width: 320px;
}

.icon-20 {
  font-size: 20px;
}
.mat-focused .mat-input-placeholder{
  color:#FFF!important;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mat-dialog-container {
    background: #FFF!important;
}
.containerX {
  padding: 5px;
  border: solid 1px #b6b6b6;
  box-sizing: content-box !important;
}

.card-demo md-card,
.card-demo md-card-content {
  margin-bottom: 24px;
}

.card-demo md-card-footer {
  left: 24px;
  margin-bottom: 24px;
}

div.container
{
    display:flex;
    margin-bottom: 10px;
    color: white;
}

div.container > div
{
    flex: 1 1 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;¡
    margin-left: 10px;
    height:50px;
    padding-left: 10px;
    padding-top:10px;
}

div.container > div:first-child
{
    margin-left: 0;
}
